<!DOCTYPE html>
<html>

<head>
    <title>Fashion & Style</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/src/public/css/style.css">
    
</head>

<body>
    <!-- Inicio de la primera página -->
    <div data-role="page" data-theme="b">
        <div data-role="header" style="overflow:hidden; background-color: #e0ad83;">
            <div style="background-color: #ffffff; text-align: center;">
                <ul>
                  <h1 style="text-align: center; font-size: 40px; font-family: 'Times New Roman', Times, serif; margin:10; color:rgb(0, 0, 0); text-align:center;">Fashion<span style="font:normal; color:rgb(149, 94, 10); text-align:center;">&</span>Style </h1>
                </ul>
            </div>
            <div data-role="navbar">
                <ul>
                <li><a href="#home" class="ui-btn-active">¡Visualiza aqui algunos de nuestros productos disponibles!</a></li>
                </ul>
                </div><!-- /navbar -->
        </div>

        <div role="main" class="ui-content" style="background-color: #f0cda2;">
            <div id="logo-container" style="text-align: center; margin-top: 20px;">
                <img style="max-width:100%; height: auto; border-radius: 20px;" src="https://marketplace.canva.com/EAF1eGwLXy8/1/0/1600w/canva-collage-de-fotos-horizontal-ropa-de-moda-minimalista-blanco-LtG80TnyKL0.jpg" alt="Fondo">
            </div>
                    
            <div><h2 style="overflow:hidden;text-align: center; background-color: #fff; color: black; font-family: 'Times New Roman', Times, serif;">Agrega nueva ropa aqui:</h2></div>
            <form action="/api/clothes/" method="POST">
              <input type="text" name="urlImg" placeholder="URL de la imagen" style="overflow:hidden; background-color:#e0ad83;">

              <input type="text" name="barcode" id="txt_barcode" placeholder="Código de barras" style="overflow:hidden; background-color:#e0ad83;"> 

              <input type="text" name="description" id="txt_description" placeholder="Descripción" style="overflow:hidden; background-color:#e0ad83;">

              <input type="text" name="size" id="txt_size" placeholder="Talla" style="overflow:hidden; background-color:#e0ad83;">

              <input type="text" name="brand" id="txt_brand" placeholder="Marca" style="overflow:hidden; background-color:#e0ad83;">

              <input type="number" name="price" id="txt_price" placeholder="Precio de venta" style="overflow:hidden; background-color:#e0ad83;">

              <input type="number" name="stock" id="txt_stock" placeholder="Existencias" style="overflow:hidden; background-color:#e0ad83;">

              <label for="flip-6">Estatus:</label>
              <select name="status" id="flip-6" data-role="slider">
                  <option value="0">Inactivo</option>
                  <option value="1">Activo</option>
              </select>
              <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini" style="overflow:hidden; background-color:#e0ad83;">Guardar</button>
            </form>
            </div>
            <div data-role="header" style="color: #fff; margin-top: 35px; background-color: #e0ad83; overflow: hidden;">
                <div style="background-color: #e0ad83; text-align: center;">
                    <ul>
                        <h2 style="color: white; text-align: center;">¡Productos de temporada disponibles!</h2>
                    </ul>
                </div>
            </div>

            <!-- Edit-->
        <div role="main" class="ui-content"style="background-color: #e0ad83;">
          <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter"
          data-input="#searchForCollapsibleSet" style="width:55%; margin-bottom: 25px; font-size: 15px; border-radius: 12px; background-color: rgb(194, 158, 206); color: #000; text-align: center; position: relative;">
          <% products.forEach((product)=>{ %>
              <div data-role="collapsible" data-filtertext="<%= product.description %>">
                  <h3><%= product.description %></h3>
                  <ul data-role="listview" data-inset="false">
                    <img style="width: 170px; border-radius: 5px; height: 200px; margin-bottom: 10px;" src="<%= product.urlImg %>" alt="<%= product.description %>">
                      <li>Código de barras: <%= product.barcode %></li>
                      <li>Marca: <%= product.brand %></li>
                      <li>Precio de compra:<%= product.price %></li>
                      <li>Precio de venta: <%= product.cost %></li>
                      <li>Existencias: <%= product.stock %></li>
                      <li>Fecha de caducidad: <%= product.expiredDate %></li>
                      <li>Estatus: <%= product.status %></li>
                      <li><a href="/api/clothes/<%= product.barcode %>" class="ui-btn" style="background-color: rgb(216, 216, 17);">Editar</a></li>
                      <li><a href="/api/clothes/delete/<%= product.barcode %>" class="ui-btn" style="background-color: rgb(241, 121, 16);">Eliminar</a></li>
                  </ul>
              </div>
          <% })%>

      </div>
        </div>

        <!--- Fotter -->
        <div data-role="footer" style="text-align: center; background-color: #fff">
            <div class="footer-bottom" style="text-align: center; margin-top: 10px;">
                <p style="text-align: center; font-size: 15px; color:rgb(149, 94, 10);">¡Sumérgete en el vibrante mundo de la moda juvenil con nosotros!</p>
            </div>
        </div>      
            </div>

            <!-- Start of first page -->
    <div data-role="page" id="home">
        
          <div data-role="header" style="overflow:hidden; background-color: #e0ad83;">
              <h1 style="text-align: center; font-size: 40px; font-family: 'Times New Roman', Times, serif; margin:10; color:rgb(0, 0, 0); text-align:center;">Fashion<span style="font:normal; color:rgb(149, 94, 10); text-align:center;">&</span>Style </h1>
              <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
              <div data-role="navbar">
              <ul>
              <li><a href="/api/clothes/">Inicio</a></li>
              </ul>
              </div><!-- /navbar -->
              <div role="main" class="ui-content" style="background-color: #f0cda2;">
                  <p style="text-align: center; font-family: 'Times New Roman', Times, serif;font-size: 20px;">En nuestra tienda, fusionamos lo último en tendencias contemporáneas con un toque de energía juvenil para ofrecerte una experiencia de compra única.</p>
                  <p style="text-align: center; font-family: 'Times New Roman', Times, serif;font-size: 15px;">Únete a nosotros en este viaje emocionante a través de la moda juvenil</p>
              </div><!-- /content -->
              <!-- Primera fila de imágenes -->
              <div class="contenedor-imagenes" style="width: 100%; overflow-x: auto; white-space: nowrap;">
                <!-- Aquí colocas tus imágenes -->
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFatv-yEIh24EKsQmrporgphNePcLMs1I9FrYs1q0M5g&s" alt="Imagen 1" style="margin-right: 90px; max-width: 200px;">
                
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQozR45cMM-MECkvvYvCjrlFr1KXkKeSEV3uLhtY-eRH7jelbyJHPo13pJAOG1tKPHpGQE&usqp=CAU" alt="Imagen 2" style="margin-right: 90px; max-width: 230px;">

                  <img src="https://http2.mlstatic.com/D_NQ_NP_850349-MCO47837525387_102021-W.jpg" style="margin-right: 90px; max-width: 210px;">

                  <img src="https://i.pinimg.com/736x/60/47/4e/60474e853f00f2cd6a87223292332844.jpg" style="margin-right: 90px; max-width: 175px;">
              </div>
              <br>
               <!-- Segunda fila de imágenes -->
               <div class="contenedor-imagenes" style="width: 100%; overflow-x: auto; white-space: nowrap;">
                <!-- Aquí colocas tus imágenes -->
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeqwk6s9uHsPYEqOWazf1wJa3M7z-ApizB9B_6orxOOA&s" alt="Imagen 1" style="margin-right: 100px; max-width: 200px;">
                
                  <img src="https://m.media-amazon.com/images/I/51lQ29iAA4L.jpg" alt="Imagen 2" style="margin-right: 130px; max-width: 195px;">

                  <img src="https://i.pinimg.com/originals/fb/68/37/fb683776e979f43704975242a0b78310.jpg" style="margin-right: 90px; max-width: 195px;">

                  <img src="https://www.zaret.co/wp-content/uploads/2022/07/Wide-Leg-Jeans-703-Indigo-Tono-Medio-Rotos-4.jpg" style="margin-right: 90px; max-width: 174px;">
              </div>
              

              <div data-role="footer">
                  <h4 style="text-align: center;">¡Tu mejor elección!</h4>
              </div><!-- /header -->
              </div>
            
            </div><!-- /footer -->
      </div><!-- /page -->
            
</body>

</html>